main {
    width: 150px;
    height: 150px;
    background-color: #000000;.acci​​o {
  width: 150px;
  height: 150px;
  background-color: #000000;
}

.hello-accio {
  color: #ffffff;
  margin-left: 32px;
  padding: 10px;
}

}

.hello-accio {
    color: #ffffff;
    margin-left: 32px;
    padding: 10px;
    white-space: nowrap;
}
